.pointer{
    cursor: pointer;
}
.input-group-addon>.action-menu{
    display: none;
}
.input-group-addon:hover>.action-menu{
    display: block;
}
.action-menu{
    position: absolute;
    z-index: 10;
    left: 0;
    top:0;
}

.action-menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 230px;
    background-color: #f1f1f1;
}

.action-menu li a {
    line-height: 15px;
    font-size: 12px;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    white-space:normal;
    text-align: left;
}

/* Change the link color on hover */
.action-menu li a:hover {
    background-color: #555;
    color: white;
}