.registration-list .panel-heading {
    padding-bottom: 6px;
}

.registration-list .form-group {
    margin-bottom: 0;
}

.registration-list .search {
    position: relative;
}

.registration-list .search .loading {
    position: absolute;
    right: 17px;
    top: 3px;
    z-index: 3;
    font-size: 28px;
    line-height: 0;
    color: #c6ccd6;
    opacity: 0;
    transition: all ease .3s;
}

.registration-list .search.searching .loading {
    opacity: 1;
}

.registration-list .search .input-group-addon {
    border: none !important;
    background: none !important;
    font-size: 25px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    color: #515974;
}

.registration-list .search #search {
    padding-right: 35px;
}

.registration-list .panel-body {
    padding-bottom: 10px;
}

.registration-list figure.min_logo {
    padding-top: 10px;
    padding-bottom: 10px;
}

.registration-list figure.min_logo img {
    float: left;
    width: 88px;
    border-radius: 50%;
}

.registration-list figure.min_logo figcaption {
    float: left;
    margin: 16px 18px;
    font-size: 16px;
    font-weight: bold;
}

.registration-list figure.min_logo figcaption a {
    text-decoration: none;
    color: #515974;
}

.registration-list figure.min_logo figcaption p {
    font-weight: lighter;
    color: #abacc0;
    padding-top: 6px;
    margin-bottom: 0;
}

.panel-body .form-group .lawareas-item-list {
    text-transform: uppercase;
    padding: 0 10px;
    text-indent: 10px;
    font-weight: bold;
    font-size: 16px;
    float: left;
}

.panel-body .form-group .lawareas-item-list label {
    margin: -1px 0 0 0;
    padding: 10px 10px 10px 0;
    display: block;
    border-top: 1px solid #e3e7ef;
    border-bottom: 1px solid #e3e7ef;
    text-decoration: none;
    color: #515974;
    cursor: pointer;
}

.panel-body .form-group .lawareas-item-list label input {
    float: left;
    width: 0;
    height: 0;
    opacity: 0;
}

.panel-body .form-group .lawareas-item-list label input ~ .icon-check {
    color: #a5a6bb;
    font-size: 20px;
    float: left;
    width: 30px;
}

.panel-body .form-group .lawareas-item-list label input ~ .icon-check:before {
    content: "\f096";
}

.panel-body .form-group .lawareas-item-list label input:checked ~ .icon-check:before {
    content: "\f046";
}

.panel-body .form-group a {
    text-decoration: none;
    color: #515974;
}

tbody tr > td {
    color: #515974;
    font-weight: bold;
    line-height: 30px !important;
}

.table thead tr > th {
    color: #a0a3a9;
    position: relative;
    padding-right: 35px;
    transition: all ease .2s;
}

.table thead tr > th .remove-item-table {
    position: absolute;
    background: none;
    color: red;
    border: none;
    border-radius: 50%;
    padding: 0;
    font-size: 12px;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 8px;
    transition: all ease .2s;
}

tbody tr > td.hover,
tbody tr:hover > td,
thead tr > th.hover {
    background: #e8e8e8;
}

.table thead tr > th.hover .remove-item-table {
    background: red;
    color: #FFF;
    border: 1px solid #FFF;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.fee-item-list {
}

.fee-item-list .fee-item {
}

.fee-item-list .fee-item .fa-check-square-o {
    display: none;
}

.fee-item-list .fee-item.active .fa-check-square-o {
    display: inline-block;
}

.fee-item-list .fee-item.active .fa-square-o {
    display: none;
}

.fee-group {
    display: none;
}

.fee-group.active {
    display: block;
}

/* selecionar imagem */

.form-control {
    width: 100%;
    height: 34px;
    padding: 4px 4px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
}