
html , body {
    background: #161c2c url("../../images/login.jpg") no-repeat center top;
    background-size: cover;
    height: 100%;
    margin-top: 0;
}

.panel-login {
    max-width: 460px;
    min-width: 300px;
    background: #fff;
    border-radius: 6px;
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 20px;
    width: 300px;
}

.form-signin .form-signin-heading {
    padding: 16px;
    font-size: 24px;
    line-height: 62px;
    display: table;
    margin: 0 auto;
}


.form-signin .form-signin-heading img {
    float: left;
    width: 62px;
    margin-right: 12px;
}

.input-group-btn .text-font {
    padding: 6px 13px;
}

.checkbox label {
    text-align: center;
    display: block;

}

.btn-default {
    color: #999999;
    background-color: #eeeeee !important;
    border-color: #cccccc;
}

.btn-primary {
    color: #fff;
    background-color: #1b2133;
    border-color: #2e6da4;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin-bottom: 10px;
}

.panel-login .form-signin .senha {
    text-align: center;
    margin-bottom: 8px;
}

.panel-login .form-signin .senha a {
    text-decoration: none;
    color: #000;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #1b2133;
    border-color: #1b2133;
}
