body {
    background-color: #e4ebf7;
}

a {
    color: #b60000;
}

a:hover,
a:active,
a:focus {
    color: #e90000;
    text-decoration: none;
}

.global-inf {
    position: fixed;
    width: 100%;
    z-index: 1031;
    top: 0;
    left: 0;
}

.global-inf .alert {
    margin-bottom: 9px;
    border-radius: 0;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.15);
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    padding: 9px 0;
}

.navbar-inverse {
    background-color: #1b2133;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}

.navbar-inverse .navbar-toggle,
.navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background: none;
    border: none;
    margin: 20px;
    padding: 0;
}

.navbar-inverse .navbar-brand {
    color: #FFF;
    height: 60px;
    line-height: 26px;
    font-family: Tahoma;
}

.navbar-inverse .navbar-brand img {
    height: 100%;
    float: left;
    margin-right: 10px;
}

.navbar-toggle .icon-bar {
    width: 25px;
    border-radius: 0;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 5px;
}

.top-nav {
    padding: 0;
}

.top-nav > li {
    padding: 0;
    width: 50%;
}

.top-nav > li > a {
    color: #FFF;
    padding: 15px 0;
    font-size: 20px;
    text-align: center;
}

.top-nav > li > a:hover, .top-nav > li > a:focus, .top-nav > .open > a, .top-nav > .open > a:hover, .top-nav > .open > a:focus {
    background-color: #101523;
}

.navbar-nav > li > a {
    font-family: Tahoma;
    color: #e4ebf7 !important;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #0c1224;
}

.side-nav > li > ul > li > a {
    color: #e4ebf7 !important;
}

.side-nav li.logo a:hover {
    background: none !important;
}

#page-wrapper {
    background-color: transparent !important;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.panel {
    background-color: #f2f6fc;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
}

.panel-default {
    border-color: #f2f6fc;
}

.panel-default > .panel-heading {
    color: #515974;
    background-color: #f2f6fc;
    border: none;
    box-shadow: inset 0 -11px 1px -10px rgba(0, 0, 0, 0.13);
}

.panel-title {
    font-weight: bold;
}

.panel-title .toggle-panel {
    cursor: pointer;
}

.panel-title .toggle-panel .fa-plus {
    display: none;
}

.panel.panel-close .panel-title .toggle-panel .fa-plus {
    display: block;
}

.panel.panel-close .panel-title .toggle-panel .fa-minus {
    display: none;
}

.panel.panel-close .panel-body,
.panel.panel-close .panel-footer {
    display: none;
}

.panel-heading a:not(.btn) {
    float: right;
    padding: 2px 6px 0 6px;
    color: #a5a6bb;
}

.panel-edit {
    display: inline-block;
}

.panel-default {
    border-color: #f2f6fc;
    color: #515974;
}

.form-group .text-lista {
    font-size: 18px;
    line-height: 34px;
    margin: 0;
}

.form-group .lista i {
    position: absolute;
    left: -16px;
    font-size: 28px;
    line-height: 34px;
    color: #abacc0;
}

.registration-list .panel-body {

}

a.btn-plus {
    float: right;
    color: #abacc0;

}

.panel-body .view {
    text-align: center;
    color: #abacc0;
}

.panel-body .view a {
    color: #abacc0;
}

.panel-body {
    padding: 15px;
    padding-bottom: 0;
}

.panel-body .border-right {
    border-right: 1px solid #e4ebf7;
}

.panel-body .border-left {
    border-left: 1px solid #e4ebf7;
}

.panel-footer {
    background: transparent;
}

.panel-action button:not(.btn),
.panel-footer button:not(.btn) {
    background: none;
    border: none;
    color: #a5a6bb;
    text-align: center;
    margin-left: 5px;
}

.panel-action .panel-heading {
}

.panel-action .panel-heading .panel-title {
    padding: 10px 0 0 0;
}

.panel-action button:not(.btn) {
    margin: -10px 0 0 0;
    font-size: 25px;
    line-height: 15px;
}

.panel-action button:not(.btn) span,
.panel-footer button:not(.btn) span {
    display: block;
    font-size: 13px;
}

.form-control {
    border-radius: 0;
    border: 2px solid #e4ebf7;
    box-shadow: none;
    height: 34px;
    padding: 4px 4px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
}

textarea.form-control {
    resize: vertical;
}

.form-control:focus {
    border-color: #afb5c0;
    outline: 0;
    box-shadow: none;
}

.input-group .input-group-btn .btn {
    border: 2px solid #e4ebf7;
    margin-right: -2px;
    border-radius: 0;
    padding: 5px 12px;
}

.template-loop {
    padding-bottom: 10px;
}

.template-loop .plus-template {
    color: #515974;
    font-size: 35px;
    line-height: 35px;
    text-decoration: none;
}

.template-loop.ajust-label {
}

.template-loop.ajust-label .list-item {
    margin-top: -40px;
}

.template-loop.ajust-label .list-item .item:first-child .form-group label {
    display: none;
}

/*Chosen*/

.chosen-container {
    font-size: 14px;
}

.chosen-container-single .chosen-single {
    border: 2px solid #e4ebf7;
    height: 34px;
    background: #ffffff;
    padding: 4px 4px;
    color: #555555 !important;
    border-radius: 0;
    box-shadow: none;
}

.chosen-container-single .chosen-single div b {
    background-position: 0 6px;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    border: 2px solid #e4ebf7;
    background: #ffffff;
    box-shadow: none;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 5px;
}

.chosen-container-single .chosen-drop {
    margin-top: 0;
    border-radius: 0;
}

.chosen-container .chosen-drop {
    border: 2px solid #e4ebf7;
    border-top: 0;
}

.chosen-container .chosen-results li.highlighted {
    background: #1b2133;
}

.chosen-container-single .chosen-search input[type=text] {
    border: 1px solid #a5a6bb;
}
.money{
    min-width: 100px;
}
.input-group .chosen-single {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.btn-status{min-width:80px;}
.btn-status.btn-success{padding-left:5px;padding-right:5px;}
.btn-status.btn-success:before{content:"Ativo";}
.btn-status.btn-success:hover:before{content:"Desativar?";}
.btn-status.btn-danger:before{content:"Inativo";}
.btn-status.btn-danger:hover:before{content:"Ativar?";}

.now_loading {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    background: rgba(249, 249, 249, 0.5);
    bottom: 0;
    right: 0;
}

.now_loading .fa {
    font-size: 50px;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 0;
    right: 0;
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

@media print {
    body {
        margin-top: 0 !important;
    }
    .page-wrapper {
        padding-top: 0 !important;
    }
}



.dataTable .green {
    background-color: #90EE90;
}

.dataTable .red {
    background-color: #FFC0CB;
}

.dataTable .yellow {
    background-color: #FFFF00;
}