@media (min-width: 0) and (max-width: 767px) {
    .toggle-menu {
        position: fixed;
        z-index: 1;
        width: calc(100% - 15px);
        height: auto;
        background: #1b2133;
        margin-left: -120%;
        overflow-y: auto;
        transition: all ease .3s;
        max-height: 100% !important;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
        border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
    }

    .toggle-menu-open .toggle-menu {
        margin-left: 0;
    }

    #toggle-menu {
        position: relative;
    }

    #toggle-menu .icon-bar {
        transition: all ease .3s;
    }

    .toggle-menu-open #toggle-menu .bar1 {
        transform: rotate(-45deg);
        height: 3px;
        margin-top: 5px;
    }

    .toggle-menu-open #toggle-menu .bar2 {
        opacity: 0;
        margin: 0;
    }

    .toggle-menu-open #toggle-menu .bar3 {
        transform: rotate(45deg);
        height: 3px;
        margin-top: -5px;
    }

}



