@media (min-width: 768px) {
    .navbar-inverse {
        background-color: #f2f6fc;
        height: 70px;
        margin-left: 225px;
    }

    .side-nav {
        background-color: #1b2133;
    }

    .side-nav {
        top: 0;
    }

    .top-nav {
        padding: 0 30px;
    }

    .top-nav > li {
        width: auto;
    }

    .top-nav > li > a {
        color: #f2f6fc;
        padding: 0 15px;
        font-size: 25px;
        text-shadow: 1px 0 0 #515974, -1px 0 0 #515974, 0 1px 0 #515974, 0 -1px 0 #515974, 1px 1px #515974, -1px -1px 0 #515974, 1px -1px 0 #515974, -1px 1px 0 #515974;
        line-height: 70px;
        height: 70px;
    }

    .top-nav > li > a:hover, .top-nav > li > a:focus, .top-nav > .open > a, .top-nav > .open > a:hover, .top-nav > .open > a:focus {
        background-color: #1b2133;
        color: #f2f6fc;
        text-shadow: none;
    }

    .side-nav li.logo {
        padding: 0;
        margin: 0;
    }

    .side-nav li.logo a {
        background: none !important;
        font-family: Tahoma;
        font-size: 18px;
        padding: 15px 45px;
        color: #FFF !important;
    }

    .side-nav li.logo a img {
        height: 70px;
        margin-right: 5px;
    }

    .side-nav li a:hover, .side-nav li a:focus {
        outline: none;
        background-color: #0c1224 !important;
    }

    #page-wrapper {
        padding: 40px 30px;
    }

}