.chat-list {
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 10px;
}
.chat-list .item {
    padding: 5px;
    white-space: pre-line;
}
.chat-list .item:nth-child(even) {
    background-color: rgba(255,255,255,0.1);
}
.chat-list .item:nth-child(odd) {
    background-color: rgba(27, 33, 51, 0.1);
}
.chat-list .item .date,
.chat-list .item .time,
.chat-list .item .name {
    font-weight: bold;
}
#group-file .dataTable td{
    word-break: break-all;
    word-break: break-word;
}