.local{
    margin-left: 6%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 20px;
    top:10px;
}
.switch input {display:none;}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #1b2133;
}

input:focus + .slider {
    box-shadow: 0 0 1px #1b2133;
}

input:checked + .slider:before {
    -webkit-transform: translateX(33px);
    -ms-transform: translateX(33px);
    transform: translateX(33px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.panel-body .form-group a {
    text-decoration: none;
    color: #515974;
}
.registration-list figure.min_logo figcaption p {
    font-weight: lighter;
    color: #abacc0;
    padding-top: 6px;
    margin-bottom: 0;
}

.panel-body .form-group .lawareas-item-list {
    text-transform: uppercase;
    padding: 0 10px;
    text-indent: 10px;
    font-weight: bold;
    font-size: 16px;
    float: left;
}

.panel-body .form-group .lawareas-item-list label {
    margin: -1px 0 0 0;
    padding: 10px 10px 10px 0;
    display: block;
    border-top: 1px solid #e3e7ef;
    border-bottom: 1px solid #e3e7ef;
    text-decoration: none;
    color: #515974;
}
.panel-body .form-group .coststypeservice{
    display: flex;
}


.panel-body .form-group .lawareas-item-list label input {
    float: left;
    width: 0;
    height: 0;
    opacity: 0;
}

.panel-body .form-group .lawareas-item-list label input ~ .icon-check {
    color: #a5a6bb;
    font-size: 20px;
    float: left;
    width: 30px;
}

.panel-body .form-group .lawareas-item-list label input ~ .icon-check:before {
    content: "\f096";
}

.panel-body .form-group .lawareas-item-list label input:checked ~ .icon-check:before {
    content: "\f046";
}

.panel-body .form-group a {
    text-decoration: none;
    color: #515974;
}
.panel-body .form-group .lawareas-item-list {
    flex: 1;
    text-transform: uppercase;
    padding: 0 10px;
    text-indent: 10px;
    font-weight: bold;
    font-size: 16px;
    float: left;
}
.panel-body .form-group .audience-with{
    margin-top: 5px;
}

.panel-body .form-group .lawareas-item-list label {
    margin: -1px 0 0 0;
    padding: 10px 10px 10px 0;
    display: block;
    border-top: 1px solid #e3e7ef;
    border-bottom: 1px solid #e3e7ef;
    text-decoration: none;
    color: #515974;
}

.panel-body .form-group .lawareas-item-list label input {
    float: left;
    width: 0;
    height: 0;
    opacity: 0;
}

.panel-body .form-group .lawareas-item-list label input ~ .icon-check {
    color: #a5a6bb;
    font-size: 20px;
    float: left;
    width: 30px;
}

.panel-body .form-group .lawareas-item-list label input ~ .icon-check:before {
    content: "\f096";
}

.panel-body .form-group .lawareas-item-list label input:checked ~ .icon-check:before {
    content: "\f046";
}
.form-control {
    width: 100%;
    height: 34px;
    padding: 4px 4px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
}
